@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap");

/* font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal; */

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
}

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--text-color);
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

/* Navigation */

.nav {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark-bg);
  color: var(--header-text);
  letter-spacing: normal;
  /* position: fixed; */
  /* width: 100%; */
  /* z-index: 3; */
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

/* Dark mode */

.dark-mode-btn {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 51px;
  height: 26px;
  border-radius: 50px;
  background-color: #272727;
  padding: 5px;
  order: 9;
}
.dark-mode-btn::before{
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  transition: left 0.2s ease-in;

}
.dark-mode-btn__icon {
  position: relative;
}

.dark-mode-btn--active::before{
  left: 26px;
}

.logo {
  color: var(--header-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

/* Header */

.header {
  display: flex;
  background-color: var(--dark-bg);
  background-image: url(/img/header-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: var(--header-text);
  min-height: 696px;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}
.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}
.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333px;
}

.header__text p + p {
  margin-top: 1em;
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
  transition: transform 0.5s;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(105%);
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Main */

.section {
  padding: 70px 0;
}
.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  
}
.project {
  max-width: 370px;
  background-color: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.5s;
  
}

.project:hover{
  transform: scale(105%);
  
}
.project__img {
  border-radius: 10px;
}
.project__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--text-color);
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.5s;
}

.project-details__cover:hover{
  transform: scale(105%);
}
.project-details__desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;
  height: 48px;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #000;
  color: #000;
  transition: opacity 0.2s ease-in;
  transition: transform 0.5s;
  
}

.btn-outline:hover {
  opacity: 0.8;
  transform: scale(105%);
}

.btn-outline:active {
  position: relative;
  top: 1px;
}


/* Footer */

.footer {
  background-color: var(--dark-bg);
  color: var(--header-text);
  padding: 60px 0 50px;
  margin-top: auto;
  
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}
.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.social__item {
  transition: transform 0.5s;
}
.social__item:hover{
  transform: scale(120%);
}
.copyright {
  font-size: 16px;
}


/* Skills */

.content-list {
  min-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
  margin: 0 auto;
}

.content-list a{
  column-gap: var(--accent);
}
.content-list__item {
  font-size: 18px;
  line-height: 1.5;

}
.title-2 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 20px; 
  font-weight: 700; 
}

@media (max-width: 620px){
  .header{
    min-height: unset;
  }
  .nav-row{
    justify-content: space-between;
  }
  .dark-mode-btn{
    order: 0;
  }

  .header__title{
    font-size: 30px;
  }

  .header__title strong{
    font-size: 40px;
  }
  .section{
    padding: 40px 0;
  }

  .title-1{
    font-size: 40px;
    margin-bottom: 30px;
  }

  .project__title{
    font-size: 22px;
  }

  .footer{
    padding: 40px 0 30px;
  }

  .footer__wrapper{
    row-gap: 20px;
  }

  .social{
    column-gap: 20px;
  }

  .social__item{
    width: 28px;
  }

  .title-2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .content-list{
    row-gap: 20px ;
  }

  .content-list__item{
    font-size: 16px ;
  }

  .project-details__desc{
    font-size: 22px;
    margin-bottom: 20px;
  }
}
